.container {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;

  & * {
    flex: 1 1 auto;
    margin: .1rem;
  }

  & button {
    border: solid 1px #000;
    background-color: darkgray;
  }
}
